{{ ansible_managed | comment }}

{% for item in strongswan_secrets %}
{% if item.type in ["PSK"] %}
{{ (item.selectors | default([])) | join(" ") }} : {{ item.type }} "{{ item.secret }}"
{% endif %}
{% endfor %}
